<div class="mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <%- include("../partials/messages") %>
      <h1 class="text-center mb-3">
        <i class="fas fa-pen"></i> Edit Event
      </h1>
    
      <form action= <%= "/api/v1/events/editEvent/" + event.id %> method="POST">

        <div class="form-group">
          <label for="title" class="form-label">Event Name/Title:*</label>
          <input
            type="text"
            id="title"
            name="title"
            class="form-control"
            placeholder="Enter Name/Title"
            value="<%= event.title %>"
            onchange="continueButton()"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="form-group">
          <label for="eventType" class="form-label"
            >Event Type: *</label
          >
          <select
          class="form-select"
            style="width: 100%; height: 38px;"
            id="eventType"
            name="eventType"
          >
          <option value="">Choose here</option>
            <option value="birthday">Birthday</option>
            <option value="wedding">Wedding</option>
            <option value="others">Others</option>
          </select>
        </div>

        <div class="form-group">
          <label for="eventDate" class="form-label">Event Date: *</label>
          <input
            type="date"
            id="eventDate"
            name="eventDate"
            class="form-control"
            value="<%= typeof eventDate != 'undefined' ? eventDate : '' %>"
            onchange="continueButton()"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="d-flex">

          <button
          type="button"
          id="cancel"
          class="btn btn-secondary btn-block"
          style="margin: 0px 5px;"
          onclick= "window.location='/api/v1/events/myEvents'"
        >
          Cancel
        </button>

        <button
          type="submit"
          id="submit"
          class="btn btn-primary btn-block"
          style="margin: 0px 5px;"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            style="display: none"
          ></span>
         Update Event
        </button>

        </div>
      </form>

    </div>
  </div>
</div>

<script>

//set selected option current
const optionVal = '<%= event.eventType %>'.toLowerCase();
$(`#eventType > option[value *= ${optionVal}]`).attr('selected',true);

//set default value for the date to match the one coming from db.
document.getElementById('eventDate').valueAsDate = new Date('<%= event.eventDate %>')

  function continueButton() {
    const title = document.getElementById("title");
    const eventDate = document.getElementById("eventDate");
    const addEvent = document.getElementById("submit");

    //validate name
    if (!title.value) {
      title.setAttribute("class", "form-control is-invalid");
    } else {
      title.setAttribute("class", "form-control is-valid");
    }

    //Validate date as its a required field
    if (!eventDate.value) {
        eventDate.setAttribute("class", " form-control is-invalid");
    } else {
        eventDate.setAttribute("class", " form-control is-valid");
    }

    if (title.value && eventDate.value) {
    addEvent.removeAttribute("disabled", "");
    } else {
      addEvent.setAttribute("disabled");
    }
  }
</script>
