<div class="mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
    <%- include("../partials/messages") %>
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <form action="/api/v1/auth/register" method="POST">
        <div class="form-group">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
            onchange="continueButton()"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
            onchange="continueButton()"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="form-group">
          <label for="password" class="form-label mb-0">Password</label>
          <small id="emailHelp" class="form-text text-muted mt-0 mb-2">should be at least 6 digit</small>

          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
            onchange="continueButton()"
          />
          <div class="valid-feedback">Looks good!</div>
          <p id="validatePassword" style="color: red"></p>
        </div>

        <div class="form-group has-danger">
          <label for="password2" class="form-label">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            onchange="continueButton()"
          />
          <div class="valid-feedback">Password matched!</div>
          <p id="wrongPassword" style="color: red"></p>
        </div>

        <button
          type="submit"
          id="submit"
          class="btn btn-primary btn-block"
          disabled
          onclick="spinner()"
        >
          <span
            class="spinner-border spinner-border-sm"
            style="display: none"
          ></span>
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/api/v1/auth/login">Login</a></p>
    </div>
  </div>
</div>

<script>
  function continueButton() {
    const name = document.getElementById("name");
    const email = document.getElementById("email");
    const password = document.getElementById("password");
    const password2 = document.getElementById("password2");

    //validate name
    if (!name.value) {
      name.setAttribute("class", " form-control is-invalid");
    } else {
      name.setAttribute("class", " form-control is-valid");
    }

    //validate email
    if (email.value) {
      const emailval = email.value.toLowerCase();
      const validEmail = emailval.match(
        /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      );
      if (validEmail) {
        email.setAttribute("class", " form-control is-valid");
      } else {
        email.setAttribute("class", " form-control is-invalid");
      }
    }

    // va;lidate length of password
    if (password.value.length < 6) {
      password.setAttribute("class", " form-control is-invalid");
      document.getElementById("validatePassword").innerText =
        "Password must be at least 6 characters";
    } else {
      password.setAttribute("class", "form-control is-valid");
      document.getElementById("validatePassword").innerText = "";
    }

    //validate password2 and submit button is enabled
    if (name.value && email.value && password.value && password2.value) {
      if (password2.value !== password.value) {
        password2.setAttribute("class", " form-control is-invalid");
        document.getElementById("submit").setAttribute("disabled", "");
        document.getElementById("wrongPassword").innerText =
          "That password doesnt match!";
      } else {
        password2.setAttribute("class", "form-control is-valid");
        document.getElementById("submit").removeAttribute("disabled");
        document.getElementById("wrongPassword").innerText = "";
      }
    } else {
      document.getElementById("submit").setAttribute("disabled", "");
    }
  }

  function spinner() {
    document.getElementById("submit")[0].style.display = "block";
  }
</script>
